body{
    background-color: #dcdfe3;
    font-family: "Poppins", serif;
    overflow-x: hidden;
    color: #333;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding: 15px 20px;
}


header a {
    text-decoration: none;
    color: inherit;
}

header img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

header img:hover {
    transform: scale(1.2);
}


#profile-img {
    height: 100vh; 
    width: auto;
}


#summary-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;

}

#summary-section svg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    animation: summary-section-ani 15s infinite;
}

@keyframes summary-section-ani {
    100%, 0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.15;
    }
    
}

#greeting{
    font-size: 3.2vw;
}



#name {
    color: #e15657;
    font-weight: bold;
    text-shadow: 0 0 2px #e15657, 0 0 4px #e15657, 0 0 7px #ff7b7c;
}



.alternating-sections{
    opacity: 0;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

#whoami{
    animation: hide-show 56s infinite ;
}

#my-personality{
    animation: hide-show 56s infinite 8s;
}

#fun-fact{
    animation: hide-show 56s infinite 16s;
}

#ideal-weekend{
    animation: hide-show 56s infinite 24s;
}

#tech-failures{
    animation: hide-show 56s infinite 32s;
}

#weird-talent{
    animation: hide-show 56s infinite 40s;
}

#essentials{
    animation: hide-show 56s infinite 48s;
}


@keyframes hide-show{
    5%{
        opacity: 1;
    }
    14% {
        opacity: 0;
    }

}

#experience-section svg{
    width: 100vw;
    height: 1000px;
    
}

h1 {
    text-align: center;
}

#projects-section{
    width: 70%;
}


.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.project-title {
    font-size: 1.5em;
    color: #555;
    margin: 10px 0;
}


.images-grid img {
    width: 30vw;
    height: 45vh;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: cover;
    transition: transform 0.2s ease; 
}

.images-grid img:hover {
    transform: scale(1.05); 
}

.project-description {
    font-size: 0.85rem;
    color: #555;
    margin: 10px 0 20px;
}

.project-img{
    object-fit: cover;
}

.end-message {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #444;
}

.end-message a {
    color: #e15657;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

#moving-circle{
    cx: 50%;
    cy: 3%;
    animation: move-circle 42s infinite 3s;
}

@keyframes move-circle {
    0%{
        cx: 50%;
        cy: 3%;
    }
    16%{
        cx: 50%;
        cy: 10%;
    }
    32%{
        cx: 50%;
        cy: 25%;
    }
    48%{
        cx: 50%;
        cy: 40%;
    }

    64%{
        cx: 50%;
        cy: 55%;
    }

    80%{
        cx: 50%;
        cy: 70%;
    }

    96%{
        cx: 50%;
        cy: 85%;
    }

}

#school-1 circle {
    animation: school-1-ani 42s infinite 3s;
}

@keyframes school-1-ani {
    100%, 16% {
        fill: #dcdfe3;
    }
    17%, 98% {
        fill: grey;
    }
}

#work-1 circle {
    animation: work-1-ani 42s infinite 3s;
}

@keyframes work-1-ani {
    100%, 32% {
        fill: #dcdfe3;
    }
    33%, 98% {
        fill: grey;
    }
}

#school-2 circle {
    animation: school-2-ani 42s infinite 3s;
}

@keyframes school-2-ani {
    100%, 48% {
        fill: #dcdfe3;
    }
    49%, 98% {
        fill: grey;
    }
}

#work-2 circle {
    animation: work-2-ani 42s infinite 3s;
}

@keyframes work-2-ani {
    100%, 64% {
        fill: #dcdfe3;
    }
    65%, 98% {
        fill: grey;
    }
}

#school-3 circle {
    animation: school-3-ani 42s infinite 3s;
}

@keyframes school-3-ani {
    100%, 80% {
        fill: #dcdfe3;
    }
    80%, 98% {
        fill: grey;
    }
}

#work-3 circle {
    animation: work-3-ani 42s infinite 3s;
}

@keyframes work-3-ani {
    100%, 96% {
        fill: #dcdfe3;
    }
    97%, 98% {
        fill: grey;
    }
}







