body{
    background-color: #dcdfe3;
    font-family: "Poppins", serif;
    overflow-x: hidden;
    color: #333;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding: 15px 20px;
}


header a {
    text-decoration: none;
    color: inherit;
}

header img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

header img:hover {
    transform: scale(1.2);
}


#profile-img {
    height: auto;
    width: 40%;
}


#summary-section{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    padding-left: 30px;
    padding-right: 10px;

}

.summary-section-circle:nth-child(1){
    width: 10%;
    aspect-ratio: 1;
    border-radius: 100%;
    color: grey;
}

#summary-section-svg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    animation: summary-section-ani 15s infinite;
}

@keyframes summary-section-ani {
    100%, 0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.1;
    }
    
}

#greeting{
    width: 30%;
    font-size: 3em;
}



#name {
    color: #e15657;
    font-weight: bold;
    text-shadow: 0 0 2px #e15657, 0 0 4px #e15657, 0 0 7px #ff7b7c;
}



.alternating-sections{
    opacity: 0;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 30%;
}

#whoami{
    animation: hide-show 56s infinite ;
}

#my-personality{
    animation: hide-show 56s infinite 8s;
}

#fun-fact{
    animation: hide-show 56s infinite 16s;
}

#ideal-weekend{
    animation: hide-show 56s infinite 24s;
}

#tech-failures{
    animation: hide-show 56s infinite 32s;
}

#weird-talent{
    animation: hide-show 56s infinite 40s;
}

#essentials{
    animation: hide-show 56s infinite 48s;
}


@keyframes hide-show{
    5%{
        opacity: 1;
    }
    14% {
        opacity: 0;
    }

}

#experience-section{
    position: relative;
}

#experience-section svg{
    width: 100vw;
    height: 1000px;
    
}


h1 {
    text-align: center;
}

#projects-section{
    width: 70%;
}


.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.project-title {
    font-size: 1.5em;
    color: #555;
    margin: 10px 0;
}

.images-grid img {
    width: 49%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: cover;
    transition: transform 0.2s ease; 
}

.images-grid img:hover {
    transform: scale(1.05); 
}

.project-description {
    font-size: 0.85rem;
    color: #555;
    margin: 10px 0 20px;
}

.project-img{
    object-fit: cover;
}

.end-message {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #444;
}

.end-message a {
    color: #e15657;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

#moving-circle{
    position: relative;
    left: 48.5%;
    top: 1.5%;
    width: 3%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: grey;
    animation: move-circle 42s infinite 3s;
}

@keyframes move-circle {
    0%{
        left: 48.5%;
        top: 1.5%;
    }
    16%{
        left: 48.5%;
        top: 8.5%;
    }
    32%{
        left: 48.5%;
        top: 23.5%;
    }
    48%{
        left: 48.5%;
        top: 38.5%;
    }

    64%{
        left: 48.5%;
        top: 53.5%;
    }

    80%{
        left: 48.5%;
        top: 68.5%;
    }

    96%{
        left: 48.5%;
        top: 83.5%;
    }

}


@keyframes school-1-ani {
    100%, 16% {
        background-color: #dcdfe3;
    }
    17%, 98% {
        background-color: grey;
    }
}


@keyframes work-1-ani {
    100%, 32% {
        background-color: #dcdfe3;
    }
    33%, 98% {
        background-color: grey;
    }
}


@keyframes school-2-ani {
    100%, 48% {
        background-color: #dcdfe3;
    }
    49%, 98% {
        background-color: grey;
    }
}


@keyframes work-2-ani {
    100%, 64% {
        background-color: #dcdfe3;
    }
    65%, 98% {
        background-color: grey;
    }
}


@keyframes school-3-ani {
    100%, 79% {
        background-color: #dcdfe3;
    }
    80%, 98% {
        background-color: grey;
    }
}


@keyframes work-3-ani {
    100%, 96% {
        background-color: #dcdfe3;
    }
    97%, 98% {
        background-color: grey;
    }
}

#svg {
    position: relative;
    width: 100vw;
    height: 1000px;
}


#line {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 95%;
    width: 2px;
    background-color: grey;
}

.circle {
    position: absolute;
    border-radius: 100%;
    background-color: #dcdfe3;
    border: grey solid 1px;
    left: 49%;
    width: 2%;
    aspect-ratio: 1;
}

#school-1 .circle{
    top: 9%;
    animation: school-1-ani 42s infinite 3s;
}

#school-1 p{
    top: 7%;
    left: 53%;
}

#school-2 .circle{
    top: 39%;
    animation: school-2-ani 42s infinite 3s;
}

#school-2 p{
    top: 37%;
    left: 53%;
}

#school-3 .circle{
    top: 69%;
    animation: school-3-ani 42s infinite 3s;
}

#school-3 p{
    top: 67%;
    left: 53%;
}

#work-1 .circle{
    top: 24%;
    animation: work-1-ani 42s infinite 3s;
}

#work-1 p{
    top: 22%;
    text-align: right;
    right: 53%;
}

#work-2 .circle{
    top: 54%;
    animation: work-2-ani 42s infinite 3s;
}

#work-2 p{
    top: 52%;
    text-align: right;
    right: 53%;
}

#work-3 .circle{
    top: 84%;
    animation: work-3-ani 42s infinite 3s;
}

#work-3 p{
    top: 82%;
    text-align: right;
    right: 53%;
}

.g p{
    position: absolute;
}

main{
    border: solid black;
}
@media (max-width: 600px) {
    #profile-img {
        display: none;
    }
    #summary-section{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 25vh;    
    }

    body{
        overflow-x: hidden;
    }

    .alternating-sections, #greeting{
        width: 90%;
    }

    #greeting{
        text-align: right;
        padding-right: 20px;
    }

    .images-grid{
        display: flex;
        flex-direction: column;
    }

    .images-grid img{
        width: 95%;
        height: auto;
    }
    


}

@media (max-width: 1000px) {
    #projects-section{
        width: 90%;
    }
}


